.corpy{
    display: flex;
    background-color: #412277;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.text{
    color: white;
}
.calcule{
    padding: 2vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 3%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.322);

    
}
.header {
    display: flex;
    justify-content: center;
}
#textoo{
    min-width:55vh;
    max-width: 55vh;
    min-height:30vh;
    max-height: 30vh;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
